.projects {
  position: relative;
  background-color: #2c323f;
}
.projects-content {
  /* margin: 0 auto; */
}
.projects-list {
  position: relative;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
}
.projects-list li{
  min-width: 48% !important;
  width: 50% !important;
}
.projects-content {
  justify-content: space-between;
}
.tagslist {
  display: flex;
  width: 90%;
  margin: 30px auto 0 auto;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.more-projects-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .projects-list {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .projects-list li{
    min-width: 100% !important;
    width: 100% !important;
  }
}